ul{
    margin-left: 10px;
    margin-bottom: 40px;
    width:auto;
    list-style:none;
    
}

ul:hover a{
    background:#BDBDBD;
  }

  a{text-decoration:none;
  padding:10px 40px;
  text-align:center;
  background:#7facff;
    color:#FAFAFA;
    border-radius: 30px;
  }
  ul{
    list-style:none;
    width:100%;
  }
  img {
    margin:25px;
    border-radius: 12px;
    box-shadow: 2px 2px 1px 1px #b2b2b2;
   }
   ol {
    display: grid; /* Используем Grid Layout */
    grid-template-columns: repeat(4, 1fr); /* 4 колонки одинаковой ширины */
    gap: 10px; /* Оптимальный отступ между кнопками */
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
}



   @media (max-width: 600px) {
    ol {
        grid-template-columns: repeat(2, 1fr); /* По 2 кнопки в строке */
    }
}
 
ol li a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px; /* Уменьшенные отступы внутри кнопки */
    background-color: #6db4ff;
    color: white;
    text-align: center;
    border-radius: 5px; /* Скругленные углы */
    font-size: 14px;
    width: 100%; /* Кнопка растягивается на ширину колонки */
    box-sizing: border-box; /* Учитываем отступы внутри кнопки */
}
ol li a:hover {
    background-color: #a9d3ff;
}