li{
    margin-left: 10px;
    width:auto;
    list-style:none;
}

li:hover a{
    background:#BDBDBD;
  }

  a{text-decoration:none;
  padding:10px 40px;
  text-align:center;
  background:#7facff;
    color:#FAFAFA;
    border-radius: 30px;
  }
  ul{
    list-style:none;
    width:100%;
  }
  img {
    margin:25px;
    border-radius: 12px;
    box-shadow: 2px 2px 1px 1px #b2b2b2;
   }
